div {
    font-family: Optima;
    color: #ffffff;
}

h1 {
    text-align: Left;
    background-color: white;
    font-size: 70px;
    color: #a0645d;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bio{
    text-align: center;
}

.enjoy{
    text-align: center;
}

.downfall{
    text-align: center;
    list-style-position: inside;
}


body{
    background-color: #a0645d;
}

